version: '3.8'

services:
  mpsc-workers:
    build:
      dockerfile: ./BetterCoding.MessagePubSubCenter.Workers/Dockerfile
      context: ./
    image: bc-mpsc-workers:latest
    deploy:
      mode: replicated
      replicas: 2
    restart: always
    env_file: 
      - ./BetterCoding.MessagePubSubCenter.Workers/.env
    networks:
      - rabbitmq
      - elasticsearch
      - mpsc
      - strapi

networks:
  rabbitmq:
    external: true
  elasticsearch:
    external: true
  strapi:
    external: true
  mpsc:
    external: true    