version: '3'

services:
  mpbc-workers:
    build:
      dockerfile: ./BetterCoding.MessagePubSubCenter.Workers/Dockerfile
      context: ./
    image: bc-mpbc-workers:latest
    deploy:
      mode: replicated
      replicas: 2
    restart: always
    env_file: 
      - ./BetterCoding.MessagePubSubCenter.Workers/.env
    networks:
      - rabbitmq
      - elasticsearch

networks:
  rabbitmq:
    external: true
  elasticsearch:
    external: true