version: '3.8'

services:
  mpbc-api:
    build:
      dockerfile: ./BetterCoding.MessagePubSubCenter.API/Dockerfile
      context: ./
    image: bc-mpbc-api:latest
    restart: always
    container_name: mpbc-api
    env_file: 
      - ./BetterCoding.MessagePubSubCenter.API/.env
    ports:
      - '8080:80'
    networks:
      - rabbitmq
      - elasticsearch
      - mpbc

networks:
  rabbitmq:
    external: true
  elasticsearch:
    external: true
  mpbc:
    name: mpbc
    driver: bridge