version: '3.8'

services:
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - 3000:3000
    volumes:
      - 'grafana_storage:/var/lib/grafana'
    networks:
      - monitoring

volumes:
  grafana_storage:

networks:
  monitoring:
    name: monitoring
    driver: bridge