services:

  logstash:
    image: docker.elastic.co/logstash/logstash:8.9.0
    restart: always
    container_name: logstash
    environment:
      LS_JAVA_OPTS: -Xms256m -Xmx256m      
    ports:
      - 5044:5044
      - 50000:50000/tcp
      - 50000:50000/udp
      - 9600:9600
    networks:
      - elasticsearch
      
networks:
  elasticsearch:
    external: true