version: '3'

services:
  strapi:
    build:
      dockerfile: ./Dockerfile
      context: ./
      # args:
      #   HTTP_PROXY: http://192.168.137.1:7890
      #   HTTPS_PROXY: http://192.168.137.1:7890
    image: my-strapi:latest
    container_name: my-strapi
    env_file: 
      - .env.production
    volumes:
      - ./config:/opt/app/config
      - ./src:/opt/app/src
      - ./package.json:/opt/package.json
      - ./yarn.lock:/opt/yarn.lock
      - ./.env:/opt/app/.env
      - ./public/uploads:/opt/app/public/uploads
    ports:
      - '8337:1337'
    networks:
      - postgres
      - strapi
      - mpbc

networks:
  postgres:
    external: true
  mpbc:
    external: true

  strapi:
    name: strapi
    driver: bridge