{
    "users": [
        {
            "name": "pub-sub",
            "password": "gnXbTpWiKwWAMDu7",
            "tags": "administrator"
        }
    ],
    "vhosts": [
        {
            "name": "/"
        }
    ],
    "permissions": [
        {
            "user": "pub-sub",
            "vhost": "/",
            "configure": ".*",
            "write": ".*",
            "read": ".*"
        }
    ]
}